<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes, minimum-scale=1.0">
    <title>Hillel_4 JS Dmytro Ushkvarok</title>
    <link rel="stylesheet" href="./styles/main.css">
    <script defer src="./js/main.js"></script>
</head>
<body>
<header>
    <div class="sitetoolbar-wrapper">
        <div class="sitetoolbar">
            <div class="sitetoolbar__logo-box"><img src="./images/layout_logo.png" alt="logo"/></div>
            <nav class="sitetoolbar__navigation">
                <ul class="sitetoolbar__navigation-list">
                    <li class="sitetoolbar__navigation-item"><a href="#" class="sitetoolbar__navigation-link">I</a></li>
                    <li class="sitetoolbar__navigation-item"><a href="#" class="sitetoolbar__navigation-link">LIKE</a>
                    </li>
                    <li class="sitetoolbar__navigation-item"><a href="#" class="sitetoolbar__navigation-link">TO</a>
                    </li>
                    <li class="sitetoolbar__navigation-item"><a href="#" class="sitetoolbar__navigation-link">LEARN</a>
                    </li>
                    <li class="sitetoolbar__navigation-item"><a href="#"
                                                                class="sitetoolbar__navigation-link">JavaScript</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<main>
    <div class="main-wrapper">
        <div id="main-content" class="main-content">
            <div class="main-content__page">
                <div class="main-content__content">
                    <h1 class="main-content__header">Welcome page!</h1>
                    <p class="main-content__text">
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                        est laborum."
                    </p>
                    <p class="main-content__text">
                        "Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis
                        et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                        nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                        velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
                        voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
                        nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate
                        velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla
                        pariatur?"
                    </p>
                    <p class="main-content__text">
                        "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                        voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                        cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est
                        laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero
                        tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                        placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus
                        autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates
                        repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente
                        delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus
                        asperiores repellat."
                    </p>
                </div>
            </div>
            <div id="sidebar" class="sidebar">
                <button id="sidebar__button" class="sidebar__toggle"><img src="./images/burger.png"
                                                                          alt="burger_toggle"/>
                </button>
                <div class="sidebar__content">
                    <nav class="sidebar__navigation">
                        <ul class="sidebar__navigation-list">
                            <li class="sidebar__navigation-item"><a href="#" class="sidebar__navigation-link">ЗДЕСЬ</a>
                            </li>
                            <li class="sidebar__navigation-item"><a href="#" class="sidebar__navigation-link">БУДУТ</a>
                            </li>
                            <li class="sidebar__navigation-item"><a href="#"
                                                                    class="sidebar__navigation-link">РАСПОЛАГАТЬСЯ</a>
                            </li>
                            <li class="sidebar__navigation-item"><a href="#" class="sidebar__navigation-link">ССЫЛКИ</a>
                            </li>
                            <li class="sidebar__navigation-item"><a href="#" class="sidebar__navigation-link">НА</a>
                            </li>
                            <li class="sidebar__navigation-item"><a href="#"
                                                                    class="sidebar__navigation-link">РЕШЕННЫЕ</a>
                            </li>
                            <li class="sidebar__navigation-item"><a href="#"
                                                                    class="sidebar__navigation-link">ДОМАШНИЕ</a>
                            </li>
                            <li class="sidebar__navigation-item"><a href="#"
                                                                    class="sidebar__navigation-link">ЗАДАНИЯ</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="sidebar__socials">
                        <a href="https://github.com/DmytroUshkvarok" class="sidebar__socials-link" target="_blank">
                            <img src="./images/github-sign.png" alt="GitHub profile">
                        </a>
                        <a href="https://www.linkedin.com/in/dmytro-ushkvarok-92a3b4b5" class="sidebar__socials-link"
                           target="_blank">
                            <img src="./images/linkedin.png" alt="Linkedin profile">
                        </a>
                        <a href="https://trello.com/b/tAsdPK9q/hillel4-js-dmytro-ushkvarok" class="sidebar__socials-link"
                           target="_blank">
                            <img src="./images/trello.png" alt="Trello dashboard">
                        </a>
                        <a href="https://www.facebook.com/dmytro.ushkvarok" class="sidebar__socials-link"
                           target="_blank">
                            <img src="./images/facebook.png" alt="Facebook profile">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer>
    <div id="footer" class="footer">
        <ul class="footer__items-list">
            <li class="footer__list-item"><a href="#" class="footer__link">I</a></li>
            <li class="footer__list-item"><a href="#" class="footer__link">LIKE</a>
            </li>
            <li class="footer__list-item"><a href="#" class="footer__link">TO</a>
            </li>
            <li class="footer__list-item"><a href="#" class="footer__link">LEARN</a>
            </li>
            <li class="footer__list-item"><a href="#"
                                             class="footer__link">JavaScript</a></li>
        </ul>
        <div class="footer__signature">&copy; 2018&nbsp; Dmytro Ushkvarok<br/>Hillel_4 JS</div>
    </div>
</footer>

</body>
</html>