html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.global-wrapper {
  display: flex;
  flex-flow: row wrap;
  max-width: 2000px;
  margin: 0 auto;
}
.global-wrapper > * {
  flex: 1 100%;
}
@media all and (min-width: 768px) {
  .global-wrapper {
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
  }
}

.header {
  background: linear-gradient(to bottom, #000000 40%, cornflowerblue 100%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media all and (min-width: 568px) {
  .header {
    background: linear-gradient(to right, #000000 40%, cornflowerblue 100%);
  }
}
@media all and (min-width: 768px) {
  .header {
    background: linear-gradient(to right, #000000 20%, cornflowerblue 100%);
    height: 70px;
    width: 100%;
    flex-grow: 0;
  }
}
.header__logo-box {
  width: 100%;
  height: 40px;
  background: url("../images/logo.png") transparent no-repeat center;
  background-size: contain;
  margin: 10px 0;
}
@media all and (min-width: 568px) {
  .header__logo-box {
    width: 50%;
  }
}
@media all and (min-width: 768px) {
  .header__logo-box {
    width: 160px;
    height: 45px;
    margin: 0 20px;
  }
}
@media all and (min-width: 1200px) {
  .header__logo-box {
    height: 50px;
  }
}
.header__navigation {
  margin: 0 auto;
}
@media all and (min-width: 568px) {
  .header__navigation {
    width: 50%;
  }
}
@media all and (min-width: 768px) {
  .header__navigation {
    flex-grow: 1;
  }
}
.header__navigation-list {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  margin: 20px 0;
  padding: 10px;
}
@media all and (min-width: 568px) {
  .header__navigation-list {
    margin-right: 20px;
  }
}
@media all and (min-width: 768px) {
  .header__navigation-list {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20px;
  }
}
.header__navigation-item {
  border-radius: 5px;
  text-align: center;
  transition: all 300ms linear;
}
.header__navigation-item:hover {
  background-color: #eafffd;
}
.header__navigation-item--hidden {
  display: none;
}
.header__navigation-item--first {
  margin-top: 10px;
}
@media all and (min-width: 768px) {
  .header__navigation-item--first {
    margin: 0;
  }
}
.header__navigation-link {
  display: block;
  min-width: 50px;
  padding: 5px 20px;
  color: #ffffff;
  font-family: Verdana, sans-serif;
  font-size: 25px;
  text-decoration: none;
}
.header__navigation-link:hover {
  color: #009be2;
}
@media all and (min-width: 768px) {
  .header__navigation-link {
    min-width: 40px;
    font-size: 20px;
    padding: 5px 15px;
  }
}
@media all and (min-width: 1200px) {
  .header__navigation-link {
    min-width: 50px;
    font-size: 25px;
    padding: 5px 25px;
  }
}
.header__navigation-toggle {
  border-radius: 3px;
  padding: 5px 10px;
  color: #ffffff;
  text-align: center;
  font-family: Verdana, sans-serif;
  font-size: 26px;
  letter-spacing: 1px;
  text-decoration: none;
}
.header__navigation-toggle:hover {
  background-color: #eafffd;
  color: #009be2;
  cursor: pointer;
}
.header__navigation-toggle--active {
  color: #009be2;
}
.header__navigation-toggle--hidden {
  display: none;
}

@media all and (min-width: 768px) {
  .sidebar {
    width: 220px;
    padding: 20px 10px 10px 20px;
    flex: 0 auto;
    background: linear-gradient(to bottom, #0e1522 65%, #000000 100%);
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
}
.sidebar--hidden {
  position: absolute;
  left: -250px;
  top: 70px;
}
.sidebar__button {
  display: none;
  position: absolute;
  top: 12px;
  left: 100%;
  margin-left: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  outline: none;
  background: url("../images/burger.png") no-repeat transparent center;
}
.sidebar__button:hover {
  background-color: rgba(132, 132, 132, 0.4);
}
@media all and (min-width: 768px) {
  .sidebar__button {
    display: block;
  }
}
@media all and (min-width: 1200px) {
  .sidebar__button {
    width: 48px;
    height: 48px;
  }
}
.sidebar__navigation {
  margin: 0 auto;
  background-color: #0e1522;
}
@media all and (min-width: 768px) {
  .sidebar__navigation {
    background-color: transparent;
  }
}
.sidebar__navigation--hidden {
  display: none;
}
.sidebar__navigation-list {
  display: flex;
  flex-direction: column;
}
.sidebar__navigation-item {
  text-align: center;
  transition: all 300ms linear;
  border-radius: 5px;
}
.sidebar__navigation-item:hover {
  background-color: #eafffd;
}
.sidebar__navigation-item--hidden {
  display: none;
}
.sidebar__navigation-item--first {
  margin-top: 10px;
}
@media all and (min-width: 768px) {
  .sidebar__navigation-item--first {
    margin: 0;
  }
}
.sidebar__navigation-item--last {
  margin-bottom: 10px;
}
@media all and (min-width: 768px) {
  .sidebar__navigation-item--last {
    margin: 0;
  }
}
.sidebar__navigation-link, .footer__link {
  display: block;
  padding: 8px 0;
  color: #ffffff;
  font-family: Verdana, sans-serif;
  font-size: 22px;
  text-decoration: none;
}
.sidebar__navigation-link:hover, .footer__link:hover {
  color: #000040;
}
@media all and (min-width: 768px) {
  .sidebar__navigation-link, .footer__link {
    padding: 8px 10px;
  }
}
.sidebar__navigation-toggle {
  padding: 15px 0;
  text-align: center;
  color: #ffffff;
  font-family: Verdana, sans-serif;
  font-size: 24px;
  letter-spacing: 1.6px;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 4px 4px #0000ff;
}
.sidebar__navigation-toggle:hover {
  background-color: #eafffd;
  color: #000040;
  cursor: pointer;
}
.sidebar__navigation-toggle--active {
  color: #009be2;
}
.sidebar__navigation-toggle--hidden {
  display: none;
}

.main-content {
  padding: 0 20px;
}
@media all and (min-width: 568px) {
  .main-content {
    padding: 0 30px;
  }
}
@media all and (min-width: 768px) {
  .main-content {
    flex: 0;
    flex-grow: 1;
    overflow-y: scroll;
    height: calc(100vh - 150px);
    padding: 0 40px 0 65px;
  }
}
@media all and (min-width: 1200px) {
  .main-content {
    padding: 0 45px 0 70px;
  }
}
.main-content__page {
  max-width: 800px;
  margin: 0 auto;
}
@media all and (min-width: 1200px) {
  .main-content__page {
    max-width: 900px;
  }
}
.main-content__page--unactive {
  display: none;
}
.main-content__header {
  font-size: 25px;
  font-family: Verdana, sans-serif;
  font-weight: 700;
  text-align: center;
  line-height: 35px;
  margin: 20px 0;
  background: linear-gradient(to bottom, #000000, #009be2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media all and (min-width: 568px) {
  .main-content__header {
    font-size: 30px;
    line-height: 40px;
  }
}
@media all and (min-width: 1200px) {
  .main-content__header {
    font-size: 35px;
    line-height: 50px;
  }
}
.main-content__text {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-indent: 20px;
  text-align: justify;
  margin-bottom: 10px;
}
@media all and (min-width: 568px) {
  .main-content__text {
    font-size: 17px;
    line-height: 22px;
    text-indent: 22px;
    margin-bottom: 15px;
  }
}
@media all and (min-width: 1200px) {
  .main-content__text {
    font-size: 19px;
    line-height: 25px;
    text-indent: 25px;
  }
}

.footer {
  background: linear-gradient(to bottom, #000040 0%, #000010 60%);
  margin-top: 10px;
}
@media all and (min-width: 768px) {
  .footer {
    align-self: flex-end;
    height: 80px;
    margin: 0;
    background: linear-gradient(to left, #000000 20%, #000040 100%);
  }
}
.footer__items-list {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
@media all and (min-width: 568px) {
  .footer__items-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media all and (min-width: 768px) {
  .footer__items-list {
    justify-content: space-around;
    margin: 5px 0;
  }
}
.footer__list-item {
  text-align: center;
  flex-grow: 1;
}
.footer__list-item:last-child {
  flex-grow: 0;
}
.footer__link {
  font-size: 20px;
  line-height: 24px;
  min-width: 170px;
  margin: 5px 0;
  background-color: rgba(255, 255, 255, 0.15);
  transition: all 300ms linear;
}
@media all and (min-width: 568px) {
  .footer__link {
    margin: 5px;
  }
}
@media all and (min-width: 768px) {
  .footer__link {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    min-width: 100px;
    margin: 0;
    background-color: transparent;
  }
}
.footer__link:hover {
  color: #00e3ff;
}

.socials {
  margin: 15px 0 20px;
  display: flex;
  justify-content: center;
}
@media all and (min-width: 768px) {
  .socials {
    display: none;
  }
}
.socials__link {
  text-decoration: none;
  margin: 0 10px;
  width: 28px;
  height: 28px;
}
@media all and (min-width: 768px) {
  .socials__link {
    margin: 0 5px;
  }
}
.socials--sidebar {
  display: none;
  margin-top: 20px;
}
@media all and (min-width: 768px) {
  .socials--sidebar {
    display: block;
    margin: 0 auto;
    flex-grow: 0;
  }
}

.signature {
  padding: 20px 0;
  color: #ffffff;
  text-align: center;
  font-family: Verdana, sans-serif;
  font-size: 12px;
  line-height: 16px;
  background-color: rgba(0, 0, 0, 0.5);
}
@media all and (min-width: 768px) {
  .signature {
    display: none;
  }
}
.signature--sidebar {
  display: none;
}
@media all and (min-width: 768px) {
  .signature--sidebar {
    background-color: transparent;
    padding: 0;
    margin: 0 auto;
    font-size: 11px;
    line-height: 15px;
    display: block;
    align-self: flex-end;
  }
}

.welcome-page-image {
  display: block;
  margin: 20px auto;
}

.watches, .date-box {
  width: 150px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #0e1522;
}
@media all and (min-width: 768px) {
  .watches, .date-box {
    margin-right: 15px;
  }
}
.watches__field {
  display: block;
  padding: 0 2px;
  font-size: 30px;
  color: #ffffff;
}

.date-box {
  height: 60px;
  align-self: flex-end;
  flex-wrap: wrap;
  align-content: center;
  margin: 5px;
}
.date-box__field {
  display: block;
  padding: 2px 2px;
  font-size: 18px;
  color: #ffffff;
}
.date-box__field:last-child {
  width: 100%;
  font-size: 14px;
  text-align: center;
}

.resize-screen {
  width: 80px;
  height: 20px;
  margin: 5px;
  color: #ffffff;
  border-radius: 5px;
  background-color: #0e1522;
  text-align: center;
  line-height: 20px;
}

.timing-screen {
  height: 20px;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
}

.table-input {
  margin: 0 20px;
}

.table-button {
  width: 60px;
  height: 30px;
}

.custom-table {
  margin: 40px 0;
  border-collapse: collapse;
}
.custom-table td {
  width: 50px;
  height: 50px;
  border: 1px solid #0000ff;
}

.click-me-button {
  width: 100px;
  height: 40px;
  margin: 30px;
  font-family: Verdana, sans-serif;
  font-size: 22px;
  font-weight: 700;
}

/*# sourceMappingURL=main.css.map */
